<div ng-controller="UnitsController" ng-init="fetchUnits()">
  <div class="row">
    <div class="col-xs-12">
      <div class="widget">
        <div class="widget-body">
          <div class="widget-icon green pull-left">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="widget-content pull-left">
            <div class="title">Units</div>
            <div class="comment">All the units in the cluster</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12" id="units">
      <div class="widget">
        <div class="widget-body medium no-padding">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr class="unit" ng-repeat="unit in units | orderBy:'name'">
                  <td><a href="#/units/{{ unit.name }}">{{ unit.name }}</a></td>
                  <td>
                    <span ng-switch on="unit.currentState">
		                  <span ng-switch-when="inactive" class="text-danger state">Disabled</span>
		                  <span ng-switch-when="loaded" class="text-warning state">Stopped</span>
		                  <span ng-switch-when="launched" class="text-success state">Running</span>
		                </span>
		                <span ng-if="unit.systemd">
		                  <span class="divider">/</span>
		                  <span ng-switch on="unit.systemd.activeState">
		                    <span ng-switch-when="active" class="text-success">Running</span>
		                    <span ng-switch-when="reloading" class="text-info">Reloading</span>
		                    <span ng-switch-when="inactive" class="text-success">Inactive</span>
		                    <span ng-switch-when="failed" class="text-danger">Failed</span>
		                    <span ng-switch-when="activating" class="text-info">Activating</span>
		                    <span ng-switch-when="deactivating" class="text-info">Deactivating</span>
		                  </span>
		                </span>
                  </td>
                  <td>
                  	<span ng-if="unit.targetMachineID">{{ unit.targetMachineID }}</span>
                  	<span ng-if="!unit.targetMachineID">n/a</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>